@page "/product/add"

@attribute [Authorize]

@inject NavigationManager NavManager
@* @inject ISnackbar Snackbar *@

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<MudPopoverProvider />

<MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="@(() => NavManager.NavigateTo("/"))" />

<h3>Add Product</h3>

<ProductEditForm Product="_product" />

@code {
    private ProductDto _product = new ProductDto();
}