@page "/product/edit/{Id:int}"

@attribute [Authorize]

@inject HttpClient HttpClient
@inject NavigationManager NavManager

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<MudPopoverProvider />

<MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="@(() => NavManager.NavigateTo("/"))" />

<h3>Edit Product</h3>

<ErrorMessage Message="@_errorMessage" />

<ProductEditForm Product="_product" />

@code {
    private ProductDto _product = new ProductDto();
    private string? _errorMessage;

    [Parameter]
    public int? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!Id.HasValue)
        {
            _errorMessage = $"Error editing product: Id has not been provided";
            Console.WriteLine(_errorMessage);
        }

        try
        {
            string route = $"{GetProductByIdRequest.RouteTemplate}/{Id}";
            var response = await HttpClient.GetFromJsonAsync<GetProductByIdRequest.Response>(route, CancellationToken.None);
            _product = response?.Product ?? new ProductDto();
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error fetching product: {ex.Message}";
            Console.WriteLine(_errorMessage);
        }
    }
}